.logo {
  max-width: 150px;
  padding: 5px;
  border: 1px dashed var(--ion-color-primary);
}

.avatar {
  margin: 20px 0px;
  position: relative;
  color: var(--ion-color-medium);
}

.content {
  padding: 20rem 10rem;
}

.text-avatar {
  display: flex;
  flex-direction: column;
  width: 100%;
}

ion-menu-button {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-white);
}

ion-back-button button {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-white);
}
