<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content class="ion-padding">
        <ion-row class="ion-text-center">
          <ion-col size="12">
            <img src="./assets/logo.png" alt="Logo" class="br-100 logo" />
          </ion-col>
        </ion-row>

        <ion-row class="ion-text-center">
          <ion-col size="12" class="avatar">
            <div class="text-avatar">
              <b>BEM-VINDO</b>
            </div>
          </ion-col>
        </ion-row>

        <ion-list id="inbox-list">
          <ion-menu-toggle
            auto-hide="false"
            *ngFor="let p of appPages; let i = index"
          >
            <ion-item
              button
              routerLinkActive="selected"
              routerDirection="root"
              [routerLink]="[p.path]"
              routerLinkActive="selected"
            >
              <ion-icon
                aria-hidden="true"
                slot="start"
                [name]="p.icon"
              ></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item button routerLinkActive="selected" (click)="logoff()">
              <ion-icon
                aria-hidden="true"
                slot="start"
                name="log-out"
              ></ion-icon>
              <ion-label>Sair</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
